<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharing.dao.mapper.GoodsBorrowMstMapper">
  <resultMap id="BaseResultMap" type="com.sharing.dao.entity.GoodsBorrowMst">
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="BILLNUMBER" jdbcType="VARCHAR" property="billnumber" />
    <result column="STAT" jdbcType="VARCHAR" property="stat" />
    <result column="BORROWERTYPE" jdbcType="VARCHAR" property="borrowertype" />
    <result column="BORROWER" jdbcType="VARCHAR" property="borrower" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="RETURNTIME" jdbcType="TIMESTAMP" property="returntime" />
    <result column="REALRETURNTIME" jdbcType="TIMESTAMP" property="realreturntime" />
    <result column="FILLER" jdbcType="VARCHAR" property="filler" />
    <result column="FILDATE" jdbcType="TIMESTAMP" property="fildate" />
    <result column="LASTER" jdbcType="VARCHAR" property="laster" />
    <result column="LASTUPDTIME" jdbcType="TIMESTAMP" property="lastupdtime" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="STOREUUID" jdbcType="VARCHAR" property="storeuuid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    UUID, BILLNUMBER, STAT, BORROWERTYPE, BORROWER, MOBILE, ADDRESS, RETURNTIME, REALRETURNTIME, 
    FILLER, FILDATE, LASTER, LASTUPDTIME, MEMO, STOREUUID
  </sql>
  <select id="selectByExample" parameterType="com.sharing.dao.entity.GoodsBorrowMstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shgoodsborrowmst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shgoodsborrowmst
    where UUID = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shgoodsborrowmst
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sharing.dao.entity.GoodsBorrowMstExample">
    delete from shgoodsborrowmst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sharing.dao.entity.GoodsBorrowMst">
    insert into shgoodsborrowmst (UUID, BILLNUMBER, STAT, 
      BORROWERTYPE, BORROWER, MOBILE, 
      ADDRESS, RETURNTIME, REALRETURNTIME, 
      FILLER, FILDATE, LASTER, 
      LASTUPDTIME, MEMO, STOREUUID
      )
    values (#{uuid,jdbcType=VARCHAR}, #{billnumber,jdbcType=VARCHAR}, #{stat,jdbcType=VARCHAR}, 
      #{borrowertype,jdbcType=VARCHAR}, #{borrower,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{returntime,jdbcType=TIMESTAMP}, #{realreturntime,jdbcType=TIMESTAMP}, 
      #{filler,jdbcType=VARCHAR}, #{fildate,jdbcType=TIMESTAMP}, #{laster,jdbcType=VARCHAR}, 
      #{lastupdtime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}, #{storeuuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sharing.dao.entity.GoodsBorrowMst">
    insert into shgoodsborrowmst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        UUID,
      </if>
      <if test="billnumber != null">
        BILLNUMBER,
      </if>
      <if test="stat != null">
        STAT,
      </if>
      <if test="borrowertype != null">
        BORROWERTYPE,
      </if>
      <if test="borrower != null">
        BORROWER,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="returntime != null">
        RETURNTIME,
      </if>
      <if test="realreturntime != null">
        REALRETURNTIME,
      </if>
      <if test="filler != null">
        FILLER,
      </if>
      <if test="fildate != null">
        FILDATE,
      </if>
      <if test="laster != null">
        LASTER,
      </if>
      <if test="lastupdtime != null">
        LASTUPDTIME,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="storeuuid != null">
        STOREUUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="billnumber != null">
        #{billnumber,jdbcType=VARCHAR},
      </if>
      <if test="stat != null">
        #{stat,jdbcType=VARCHAR},
      </if>
      <if test="borrowertype != null">
        #{borrowertype,jdbcType=VARCHAR},
      </if>
      <if test="borrower != null">
        #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null">
        #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="realreturntime != null">
        #{realreturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="filler != null">
        #{filler,jdbcType=VARCHAR},
      </if>
      <if test="fildate != null">
        #{fildate,jdbcType=TIMESTAMP},
      </if>
      <if test="laster != null">
        #{laster,jdbcType=VARCHAR},
      </if>
      <if test="lastupdtime != null">
        #{lastupdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="storeuuid != null">
        #{storeuuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sharing.dao.entity.GoodsBorrowMstExample" resultType="java.lang.Long">
    select count(*) from shgoodsborrowmst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shgoodsborrowmst
    <set>
      <if test="record.uuid != null">
        UUID = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.billnumber != null">
        BILLNUMBER = #{record.billnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.stat != null">
        STAT = #{record.stat,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowertype != null">
        BORROWERTYPE = #{record.borrowertype,jdbcType=VARCHAR},
      </if>
      <if test="record.borrower != null">
        BORROWER = #{record.borrower,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.returntime != null">
        RETURNTIME = #{record.returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realreturntime != null">
        REALRETURNTIME = #{record.realreturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.filler != null">
        FILLER = #{record.filler,jdbcType=VARCHAR},
      </if>
      <if test="record.fildate != null">
        FILDATE = #{record.fildate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.laster != null">
        LASTER = #{record.laster,jdbcType=VARCHAR},
      </if>
      <if test="record.lastupdtime != null">
        LASTUPDTIME = #{record.lastupdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.memo != null">
        MEMO = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.storeuuid != null">
        STOREUUID = #{record.storeuuid,jdbcType=VARCHAR},
      </if>
      <if test="record.updateSql != null" >
        ${record.updateSql},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shgoodsborrowmst
    set UUID = #{record.uuid,jdbcType=VARCHAR},
      BILLNUMBER = #{record.billnumber,jdbcType=VARCHAR},
      STAT = #{record.stat,jdbcType=VARCHAR},
      BORROWERTYPE = #{record.borrowertype,jdbcType=VARCHAR},
      BORROWER = #{record.borrower,jdbcType=VARCHAR},
      MOBILE = #{record.mobile,jdbcType=VARCHAR},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      RETURNTIME = #{record.returntime,jdbcType=TIMESTAMP},
      REALRETURNTIME = #{record.realreturntime,jdbcType=TIMESTAMP},
      FILLER = #{record.filler,jdbcType=VARCHAR},
      FILDATE = #{record.fildate,jdbcType=TIMESTAMP},
      LASTER = #{record.laster,jdbcType=VARCHAR},
      LASTUPDTIME = #{record.lastupdtime,jdbcType=TIMESTAMP},
      MEMO = #{record.memo,jdbcType=VARCHAR},
      STOREUUID = #{record.storeuuid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sharing.dao.entity.GoodsBorrowMst">
    update shgoodsborrowmst
    <set>
      <if test="billnumber != null">
        BILLNUMBER = #{billnumber,jdbcType=VARCHAR},
      </if>
      <if test="stat != null">
        STAT = #{stat,jdbcType=VARCHAR},
      </if>
      <if test="borrowertype != null">
        BORROWERTYPE = #{borrowertype,jdbcType=VARCHAR},
      </if>
      <if test="borrower != null">
        BORROWER = #{borrower,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="returntime != null">
        RETURNTIME = #{returntime,jdbcType=TIMESTAMP},
      </if>
      <if test="realreturntime != null">
        REALRETURNTIME = #{realreturntime,jdbcType=TIMESTAMP},
      </if>
      <if test="filler != null">
        FILLER = #{filler,jdbcType=VARCHAR},
      </if>
      <if test="fildate != null">
        FILDATE = #{fildate,jdbcType=TIMESTAMP},
      </if>
      <if test="laster != null">
        LASTER = #{laster,jdbcType=VARCHAR},
      </if>
      <if test="lastupdtime != null">
        LASTUPDTIME = #{lastupdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="storeuuid != null">
        STOREUUID = #{storeuuid,jdbcType=VARCHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sharing.dao.entity.GoodsBorrowMst">
    update shgoodsborrowmst
    set BILLNUMBER = #{billnumber,jdbcType=VARCHAR},
      STAT = #{stat,jdbcType=VARCHAR},
      BORROWERTYPE = #{borrowertype,jdbcType=VARCHAR},
      BORROWER = #{borrower,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      RETURNTIME = #{returntime,jdbcType=TIMESTAMP},
      REALRETURNTIME = #{realreturntime,jdbcType=TIMESTAMP},
      FILLER = #{filler,jdbcType=VARCHAR},
      FILDATE = #{fildate,jdbcType=TIMESTAMP},
      LASTER = #{laster,jdbcType=VARCHAR},
      LASTUPDTIME = #{lastupdtime,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR},
      STOREUUID = #{storeuuid,jdbcType=VARCHAR}
    where UUID = #{uuid,jdbcType=VARCHAR}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.sharing.dao.entity.GoodsBorrowMstExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shgoodsborrowmst
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="sumByExample" parameterType="com.sharing.dao.entity.GoodsBorrowMstExample" resultType="long" >
    select sum(${sumCol}) from shgoodsborrowmst
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into shgoodsborrowmst  (UUID, BILLNUMBER, STAT, 
        BORROWERTYPE, BORROWER, MOBILE, 
        ADDRESS, RETURNTIME, REALRETURNTIME, 
        FILLER, FILDATE, LASTER, 
        LASTUPDTIME, MEMO, STOREUUID
        )
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.uuid,jdbcType=VARCHAR}, #{item.billnumber,jdbcType=VARCHAR}, #{item.stat,jdbcType=VARCHAR}, 
        #{item.borrowertype,jdbcType=VARCHAR}, #{item.borrower,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR}, 
        #{item.address,jdbcType=VARCHAR}, #{item.returntime,jdbcType=TIMESTAMP}, #{item.realreturntime,jdbcType=TIMESTAMP}, 
        #{item.filler,jdbcType=VARCHAR}, #{item.fildate,jdbcType=TIMESTAMP}, #{item.laster,jdbcType=VARCHAR}, 
        #{item.lastupdtime,jdbcType=TIMESTAMP}, #{item.memo,jdbcType=VARCHAR}, #{item.storeuuid,jdbcType=VARCHAR}
        )
      </foreach>
    </if>
  </insert>
</mapper>