<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sharing.dao.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="cn.sharing.dao.entity.Stock">
    <id column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="GOODSUUID" jdbcType="VARCHAR" property="goodsUuid" />
    <result column="NO" jdbcType="INTEGER" property="no" />
    <result column="STATE" jdbcType="INTEGER" property="state" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
  </resultMap>

  <sql id="Base_Column_List">
    UUID, GOODSUUID, NO, STATE,  MEMO
  </sql>

  <!-- 插入 -->
  <insert id="insert" parameterType="cn.sharing.dao.entity.Stock">
    insert into shgoodsstock(UUID, GOODSUUID, NO, STATE,  MEMO)
    values (#{uuid,jdbcType=VARCHAR}, #{goodsUuid,jdbcType=VARCHAR}, #{no,jdbcType=INTEGER},
      #{state,jdbcType=INTEGER},#{memo,jdbcType=VARCHAR})
  </insert>

  <!-- 更新 -->
  <update id="update" parameterType="cn.sharing.dao.entity.Stock">
    update shgoodsstock
    <set>
      <if test="STATE != null">
      STATE = #{state,jdbcType=INTEGER},
      </if>
      <if test="memo != null and memo != ''">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where 1 = 1
    <if test="uuid != null and uuid != '' ">
      and UUID = #{uuid,jdbcType=VARCHAR}
    </if>
    <if test="goodsUuid != null and uuid != '' ">
      and GOODSUUID = #{goodsUuid,jdbcType=VARCHAR}
    </if>
    <if test="no != null">
      and NO = #{no,jdbcType=INTEGER}
    </if>
  </update>

  <delete id="delete" parameterMap="cn.sharing.dao.entity.Stock">
    delete from shgoodsstock
    where 1 = 1
    <if test="uuid != null and uuid != '' ">
      and UUID = #{uuid,jdbcType=VARCHAR}
    </if>
    <if test="goodsUuid != null and uuid != '' ">
      and GOODSUUID = #{goodsUuid,jdbcType=VARCHAR}
    </if>
    <if test="no != null">
      and NO = #{no,jdbcType=INTEGER}
    </if>
  </delete>

  <delete id="deleteByPrimaryKey" parameterMap="java.lang.String">
    delete from shgoodsstock
    where UUID = #{uuid,jdbcType=VARCHAR}
  </delete>

  <insert id="batchInsert">
    insert into shgoodsstock(UUID, GOODSUUID, NO, STATE,  MEMO)
    values
    <foreach collection="stocks" item="item" index="index" separator=",">
      (#{item.uuid,jdbcType=VARCHAR}, #{item.goodsUuid,jdbcType=VARCHAR}, #{item.no,jdbcType=INTEGER},
      #{item.state,jdbcType=INTEGER},#{item.memo,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="getByCondition" parameterMap="cn.sharing.dao.entity.Stock" resultMap="resultMap">
    select
    <include refid="Base_Column_List" />
    from shgoodsstock
    where 1 = 1
    <if test="uuid != null and uuid != '' ">
      and UUID = #{uuid,jdbcType=VARCHAR}
    </if>
    <if test="goodsUuid != null and uuid != '' ">
      and GOODSUUID = #{goodsUuid,jdbcType=VARCHAR}
    </if>
    <if test="no != null">
      and NO = #{no,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getByPrimaryKey" parameterMap="java.lang.String" resultMap="resultMap">
    select
    <include refid="Base_Column_List" />
    from shgoodsstock
    where 1 = 1
      and UUID = #{uuid,jdbcType=VARCHAR}
  </select>

</mapper>